<!DOCTYPE html>
<html>
<head>
<title>ROK</title>

<link rel="stylesheet" href="//<%= hostname %>/rok.css" type="text/css" media="all" />
<link rel="stylesheet" href="//<%= hostname %>/rok-lobby.css" type="text/css" media="all" />

<script src="//<%= hostname %>/jquery-2.1.0.min.js"></script>
<script src="//<%= hostname %>/jquery.json2html.js"></script>
<script src="//<%= hostname %>/jquery.color-2.1.2.min.js"></script>
<script src="//<%= hostname %>/json2html.js"></script>
<script src="//<%= hostname %>/ROKGame.js"></script>
<script src="//<%= hostname %>/ROKUtils.js"></script>
<script src="//<%= hostname %>/ROKClientGame.js"></script>
<script src="//<%= hostname %>/ROKLobby.js"></script>
<script src="//<%= hostname %>/ROKClientLobby.js"></script>
<script src="//<%= hostname %>/jrag.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript">

$(document).ready(function() {
  // Connect to the socket.
  socket = io.connect('//<%= hostname %>');

  // Set up utilities
  utils = new ROKUtils();

  // Initialize the lobby of dev client v2.
  lobby = new ROKLobby();

  // Initialize the game of dev client v2.
  game = new ROKGame();

  static_ = "//<%= hostname %>";

  // DEBUG
  $('#log_lobby_state').click(function() {
    socket.emit("log_lobby_state");
  });
  // DEBUG
  $('#log_game_state').click(function() {
    socket.emit("log_game_state");
  });
  $('#log_players_state').click(function() {
    socket.emit("log_players_state");
  });
  $('#quick_game').click(function() {
    socket.emit("quick_game");
  });
  $('#quick_game_3').click(function() {
    socket.emit("quick_game_3");
  });
  $('#client_log_lobby_state').click(function() {
    console.log(utils.dump(lobby));
  });
  // DEBUG
  $('#client_log_game_state').click(function() {
    console.log(utils.dump(game));
  });
  // End debug
});
</script>
</head>
<body>

<div id="wrap">
  <div id="messages"></div>

  <div id="lobby">
    <h1>RULER OF KYOTO</h1>
    <h2>Games lobby</h2>
    <div id="welcome"></div>

    <h3>Players</h3>
    <div id="players">
      <table>
        <thead>
          <tr>
            <th>Name</th><!--th>Mode</th--><th>Invited to game</th><th>In game</th>
          </tr>
        </thead>

        <tbody></tbody>
      </table>
    </div>

    <input id="new_game_button" type="button" value="New game"/>

    <input id="confirm_game_button" type="button" value="Start game" class="hidden" />

    <input type="button" value="Cancel game" id="cancel_game_button" class="hidden" />

    <input type="button" value="Leave game" id="leave_invited_game_button" class="hidden" />

    <input id="quick_game" type="button" value="Quick game"/>

    <input id="quick_game_3" type="button" value="Quick 3 plr game"/>

  </div>


  <div id="monster_selection">
    <h2>Select monster</h2>
    <div id="monster_select_buttons"></div>
  </div>



  <div id="game" class="fivetosixx" tabindex="0">
    <div id="debug">
      <h4>Debug</h4>
      <input id="log_lobby_state" type="button" value="Server lobby state"/>
      <input id="log_game_state" type="button" value="Server game state"/>
      <input id="log_players_state" type="button" value="Server players state"/>
      <input id="client_log_lobby_state" type="button" value="Client lobby state"/>
      <input id="client_log_game_state" type="button" value="Client game state"/>
    </div>

    <div id="map">
      <div id="ms1" class="monster_slot monster_home">
      </div>

      <div id="ms2" class="monster_slot monster_home">
      </div>

      <div id="ms3" class="monster_slot monster_home">
      </div>

      <div id="ms4" class="monster_slot monster_home">
      </div>

      <div id="ms5" class="monster_slot monster_home">
      </div>

      <div id="ms6" class="monster_slot monster_home">
      </div>

      <div id="mskc" class="monster_slot">
      </div>

      <div id="mskb" class="monster_slot">
      </div>

      <div id="m1" class="monster">
        <div class="monster_health monster_stats">
          <div id="monsters__1__health">10</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="monster_victory_points monster_stats">
          <div id="monsters__1__victory_points">0</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="monster_snot monster_stats">
          <div id="monsters__1__snot">0</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="dead"></div>

        <div class="monster_cards">
          <div class="monster_cards_owned monster_cards_owned_1" id="monsters__1__cards_owned__1"></div>
          <div class="monster_cards_owned monster_cards_owned_2" id="monsters__1__cards_owned__2"></div>
          <div class="monster_cards_owned monster_cards_owned_3" id="monsters__1__cards_owned__3"></div>
          <div class="monster_cards_owned monster_cards_owned_4" id="monsters__1__cards_owned__4"></div>
          <div class="monster_cards_owned monster_cards_owned_5" id="monsters__1__cards_owned__5"></div>
          <div class="monster_cards_owned monster_cards_owned_6" id="monsters__1__cards_owned__0"></div>
        </div>
      </div>

      <div id="m2" class="monster">
        <div class="monster_health monster_stats">
          <div id="monsters__2__health">10</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="monster_victory_points monster_stats">
          <div id="monsters__2__victory_points">0</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="monster_snot monster_stats">
          <div id="monsters__2__snot">0</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="dead"></div>

        <div class="monster_cards">
          <div class="monster_cards_owned monster_cards_owned_1" id="monsters__2__cards_owned__1"></div>
          <div class="monster_cards_owned monster_cards_owned_2" id="monsters__2__cards_owned__2"></div>
          <div class="monster_cards_owned monster_cards_owned_3" id="monsters__2__cards_owned__3"></div>
          <div class="monster_cards_owned monster_cards_owned_4" id="monsters__2__cards_owned__4"></div>
          <div class="monster_cards_owned monster_cards_owned_5" id="monsters__2__cards_owned__5"></div>
          <div class="monster_cards_owned monster_cards_owned_6" id="monsters__2__cards_owned__0"></div>
        </div>
      </div>

      <div id="m3" class="monster">
        <div class="monster_health monster_stats">
          <div id="monsters__3__health">10</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="monster_victory_points monster_stats">
          <div id="monsters__3__victory_points">0</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="monster_snot monster_stats">
          <div id="monsters__3__snot">0</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="dead"></div>

        <div class="monster_cards">
          <div class="monster_cards_owned monster_cards_owned_1" id="monsters__3__cards_owned__1"></div>
          <div class="monster_cards_owned monster_cards_owned_2" id="monsters__3__cards_owned__2"></div>
          <div class="monster_cards_owned monster_cards_owned_3" id="monsters__3__cards_owned__3"></div>
          <div class="monster_cards_owned monster_cards_owned_4" id="monsters__3__cards_owned__4"></div>
          <div class="monster_cards_owned monster_cards_owned_5" id="monsters__3__cards_owned__5"></div>
          <div class="monster_cards_owned monster_cards_owned_6" id="monsters__3__cards_owned__0"></div>
        </div>
      </div>

      <div id="m4" class="monster">
        <div class="monster_health monster_stats">
          <div id="monsters__4__health">10</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="monster_victory_points monster_stats">
          <div id="monsters__4__victory_points">0</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="monster_snot monster_stats">
          <div id="monsters__4__snot">0</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="dead"></div>

        <div class="monster_cards">
          <div class="monster_cards_owned monster_cards_owned_1" id="monsters__4__cards_owned__1"></div>
          <div class="monster_cards_owned monster_cards_owned_2" id="monsters__4__cards_owned__2"></div>
          <div class="monster_cards_owned monster_cards_owned_3" id="monsters__4__cards_owned__3"></div>
          <div class="monster_cards_owned monster_cards_owned_4" id="monsters__4__cards_owned__4"></div>
          <div class="monster_cards_owned monster_cards_owned_5" id="monsters__4__cards_owned__5"></div>
          <div class="monster_cards_owned monster_cards_owned_6" id="monsters__4__cards_owned__0"></div>
        </div>
      </div>

      <div id="m5" class="monster">
        <div class="monster_health monster_stats">
          <div id="monsters__5__health">10</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="monster_victory_points monster_stats">
          <div id="monsters__5__victory_points">0</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="monster_snot monster_stats">
          <div id="monsters__5__snot">0</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="dead"></div>

        <div class="monster_cards">
          <div class="monster_cards_owned monster_cards_owned_1" id="monsters__5__cards_owned__1"></div>
          <div class="monster_cards_owned monster_cards_owned_2" id="monsters__5__cards_owned__2"></div>
          <div class="monster_cards_owned monster_cards_owned_3" id="monsters__5__cards_owned__3"></div>
          <div class="monster_cards_owned monster_cards_owned_4" id="monsters__5__cards_owned__4"></div>
          <div class="monster_cards_owned monster_cards_owned_5" id="monsters__5__cards_owned__5"></div>
          <div class="monster_cards_owned monster_cards_owned_6" id="monsters__5__cards_owned__0"></div>
        </div>
      </div>

      <div id="m6" class="monster">
        <div class="monster_health monster_stats">
          <div id="monsters__6__health">10</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="monster_victory_points monster_stats">
          <div id="monsters__6__victory_points">0</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="monster_snot monster_stats">
          <div id="monsters__6__snot">0</div>
          <div class="monster_stats_bg"></div>
        </div>

        <div class="dead"></div>

        <div class="monster_cards">
          <div class="monster_cards_owned monster_cards_owned_1" id="monsters__6__cards_owned__1"></div>
          <div class="monster_cards_owned monster_cards_owned_2" id="monsters__6__cards_owned__2"></div>
          <div class="monster_cards_owned monster_cards_owned_3" id="monsters__6__cards_owned__3"></div>
          <div class="monster_cards_owned monster_cards_owned_4" id="monsters__6__cards_owned__4"></div>
          <div class="monster_cards_owned monster_cards_owned_5" id="monsters__6__cards_owned__5"></div>
          <div class="monster_cards_owned monster_cards_owned_6" id="monsters__6__cards_owned__0"></div>
        </div>
      </div>

    </div>

    <div id="log_wrap">
      <div id="log">
      </div>
    </div>

    <div id="cards">
      <div id="card_deck"></div>
      <div id="card__0" class="card" data-available_card_index="0"></div>
      <div id="card__1" class="card" data-available_card_index="1"></div>
      <div id="card__2" class="card" data-available_card_index="2"></div>
    </div>


    <div id="dice_area">
      <div id="dice">
        <div id="dice__0__value" data-die_id="0"></div>
        <div id="dice__1__value" data-die_id="1"></div>
        <div id="dice__2__value" data-die_id="2"></div>
        <div id="dice__3__value" data-die_id="3"></div>
        <div id="dice__4__value" data-die_id="4"></div>
        <div id="dice__5__value" data-die_id="5"></div>
        <div id="dice__6__value" data-die_id="6"></div>
        <div id="dice__7__value" data-die_id="7"></div>
      </div>

      <a href="#" class="ROKButton" id="roll_dice_button">Roll dice (1st)</a>
      <a href="#" class="ROKButton" id="done_buying_button">Done buying</a>
      <a href="#" class="ROKButton" id="yield_kyoto_city_button">Yield Kyoto city</a>
      <a href="#" class="ROKButton" id="stay_in_kyoto_city_button">Stay in Kyoto city</a>
      <a href="#" class="ROKButton" id="yield_kyoto_bay_button">Yield Kyoto bay</a>
      <a href="#" class="ROKButton" id="stay_in_kyoto_bay_button">Stay in Kyoto bay</a>
      <a href="#" class="ROKButton" id="leave_game_button">Leave game</a>
    </div>
  </div>
</div>



</body>
</html>
